<header class="bg-black p-4">
    <div class="container mx-auto flex items-center justify-between">
      <h1 class="text-2xl font-bold text-yellow-500">beatz</h1>
      <div class="relative">
        <input
          type="text"
          placeholder="What are you looking for?"
          class="pl-8 pr-4 py-2 bg-gray-800 rounded-md w-64"
        />
        <svg class="absolute left-2 top-2.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 2a8 8 0 106.32 14.9l4.09 4.09a1 1 0 001.41-1.41l-4.09-4.09A8 8 0 0010 2z"/>
        </svg>
      </div>
    </div>
  </header>
  