<footer class="bg-darker py-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center">
            <!-- <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <h3 class="text-xl font-bold text-white-500 mb-4"><span class="text-3xl font-bold text-yellow-500">B</span>eatz</h3>
                <p class="text-gray-400 text-sm"></p>
            </div> -->
        <div class="border-t border-gray-700 mt-8 pt-6 text-center">
            <p class="text-gray-500 text-sm">
                © <%= new Date().getFullYear() %> Beatz. All rights reserved.
            </p>
        </div>
    </div>
</footer>
